<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.galaxy.star.newsbox.dao.FileDAO">
	<insert id="addFile" parameterType="FileBean" keyColumn="fileId">
		insert into upload_files(
			file_id,
			file_name,
			file_type,
			file_path,
			file_size,
			file_source,
			file_url,
			create_user,
			create_time
		) values(
			#{fileId},
			#{fileName},
			#{fileType},
			#{filePath},
			#{fileSize},
			#{fileSource},
			#{fileUrl},
			#{createUser},
			#{createTime}
		)
	</insert>
	
	<select id="getFileByPage" parameterType="PageBean" resultType="FileBean" resultMap="fileBeanMap">
		select * from upload_files limit #{start},#{pageSize};
	</select>
	
	
	<resultMap type="FileBean" id="fileBeanMap">
		<id column="file_id" property="fileId"/>
		<result column="file_name" property="fileName"/>
		<result column="file_type" property="fileType"/>
		<result column="file_path" property="filePath"/>
		<result column="file_size" property="fileSize"></result>
		<result column="file_source" property="fileSource"/>
		<result column="file_url" property="fileUrl"/>
		<result column="create_user" property="createUser"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
	
	
	
	

</mapper>