<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.galaxy.star.newsbox.dao.NewsDAO">

	<insert id="addNews" parameterType="NewsBean" keyColumn="newId">
		insert into new_repository(
			new_id,
			new_caption,
			new_sub_title,
			publish_time,
			new_source,
			new_athors,
			new_key_word,
			new_editor,
			create_time,
			create_user,
			new_type,
			is_wheel,
			wheel_img,
			new_list_img1,
			new_list_img2,
			new_list_img3,
			new_content,
			new_html_file_name,
			is_publish,
			show_index,
			is_show_big_img,
			is_del
		) values(
			#{newId},
			#{newCaption},
			#{newSubTitle},
			#{publishTime},
			#{newSource},
			#{newAthors},
			#{newKeyWord},
			#{newEditor},
			#{createTime},
			#{createUser},
			#{newType},
			#{isWheel},
			#{wheelImg},
			#{newListImg1},
			#{newListImg2},
			#{newListImg3},
			#{newContent},
			#{newHtmlFileName},
			#{isPublish},
			#{showIndex},
			#{isShowBigImg},
			#{isDel}
		)
	</insert>
	
	<update id="updateNews" parameterType="NewsBean">
		update new_repository t set 
			t.new_caption=#{newCaption},
			t.new_sub_title=#{newSubTitle},
			t.publish_time=#{publishTime},
			t.new_source=#{newSource},
			t.new_athors=#{newAthors},
			t.new_key_word=#{newKeyWord},
			t.new_editor=#{newEditor},
			t.create_time=#{createTime},
			t.create_user=#{createUser},
			t.new_type=#{newType},
			t.is_wheel=#{isWheel},
			t.wheel_img=#{wheelImg},
			t.new_list_img1=#{newListImg1},
			t.new_list_img2=#{newListImg2},
			t.new_list_img3=#{newListImg3},
			t.new_content=#{newContent},
			t.new_html_file_name=#{newHtmlFileName},
			t.is_publish=#{isPublish},
			t.is_del=#{isDel},
			t.show_index=#{showIndex},
			t.is_show_big_img=#{isShowBigImg}
		where t.new_id=#{newId};
	</update>
	
	<update id="publishNews" parameterType="Map">
		<!-- update new_repository set 
			is_publish=#{isPublish},
			publish_time=#{publishTime}
			where new_id in (#{newIds}); -->
		update new_repository set 
			is_publish=#{isPublish},
			publish_time=#{publishTime}
			where new_id in 
			<foreach collection="newIds" index="" item="newId" separator="," open="(" close=")">
				#{newId}
			</foreach>	
	</update>
	
	<update id="deleteNews" parameterType="Map">
		update new_repository set 
			is_del=#{isDel} 
			where new_id=#{newId};
	</update>
	
	<!-- 用于查询新闻列表 -->
	<select id="getNewsList" resultMap="newsListMap" parameterType="Map" resultType="NewsBean">
		select *
		from new_repository t
		<include refid="getNewsListWhere"/>
		AND t.is_del&lt;&gt;1
		order by create_time desc
		LIMIT #{pageNo},#{pageSize}
		
	</select>
	
	<!-- 新闻列表总记录数 -->
	<select id="getNewsListCount" resultType="Integer" parameterType="Map">
		select count(1)
		from new_repository t
		<include refid="getNewsListWhere"/>
		AND t.is_del&lt;&gt;1
	</select>
	
	<!-- 列表查询条件 -->
	<sql id="getNewsListWhere" >
		<where>
			<trim prefixOverrides="and">
				<if test="newCaption !=null ">
					AND t.new_caption like CONCAT(CONCAT('%', #{newCaption, jdbcType=VARCHAR}),'%') 
				</if>
				<if test="newKeyWord !=null ">
					AND t.new_key_word like CONCAT(CONCAT('%', #{newKeyWord, jdbcType=VARCHAR}),'%') 
				</if>
				<if test="createTimeStart !=null ">
					AND t.create_time&gt;=#{createTimeStart} 
				</if>
				<if test="createTimeEnd !=null ">
					AND t.create_time&lt;=#{createTimeEnd}
				</if>
				<if test="isPublish !=null">
					AND t.is_publish=#{isPublish}
				</if>
			</trim>
		</where>
	</sql>
	
	<!-- 手机端使用的接口 -->

	<!-- 用于mobile查询新闻列表 -->
	<select id="getMobileNewsList" resultMap="newsListMap" parameterType="Map" resultType="NewsBean">
		select new_id,
			new_caption,
			new_sub_title newSubTitle,
			UNIX_TIMESTAMP(publish_time) publish_time,
			new_source,
			new_athors,
			new_key_word,
			new_editor,
			new_type,
			is_wheel,
			wheel_img,
			new_list_img1,
			new_list_img2,
			new_list_img3,
			new_html_file_name,
			is_publish,
			show_index,
			is_show_big_img,
			UNIX_TIMESTAMP(create_time) create_time,
			create_user
		from new_repository t
		where t.is_del=0
		<if test="newCaption !=null ">
			AND t.new_caption like CONCAT(CONCAT('%', #{newCaption, jdbcType=VARCHAR}),'%') 
		</if>
		and t.is_publish=1
		order by create_time desc
		LIMIT #{pageNo},#{pageSize}
	</select>
	
	<!-- 用于mobile 新闻列表总记录数 -->
	<select id="getMobileNewsListCount" resultType="Integer" parameterType="Map">
		select count(1)
		from new_repository t
		where t.is_del=0
		<if test="newCaption !=null ">
			AND t.new_caption like CONCAT(CONCAT('%', #{newCaption, jdbcType=VARCHAR}),'%') 
		</if>
		and t.is_publish=1
	</select>
	
	<select id="getNewsById" resultMap="newsResultMap" parameterType="java.lang.String" resultType="NewsBean">
		select * from new_repository t where t.new_id=#{newId}
	</select>
	
	<resultMap type="NewsBean" id="newsResultMap">
		<id column="new_id" property="newId"/>
		<result column="new_id" property="newId"/>
		<result column="new_caption" property="newCaption"/>
		<result column="new_sub_title" property="newSubTitle"/>
		<result column="publish_time" property="publishTime"/>
		<result column="new_source" property="newSource"/>
		<result column="new_athors" property="newAthors"/>
		<result column="new_key_word" property="newKeyWord"/>
		<result column="new_editor" property="newEditor"/>
		<result column="new_type" property="newType"/>
		<result column="is_wheel" property="isWheel"/>
		<result column="wheel_img" property="wheelImg"/>
		<result column="new_list_img1" property="newListImg1"/>
		<result column="new_list_img2" property="newListImg2"/>
		<result column="new_list_img3" property="newListImg3"/>
		<result column="new_content" property="newContent"/>
		<result column="new_html_file_name" property="newHtmlFileName"/>
		<result column="is_publish" property="isPublish"/>
		<result column="show_index" property="showIndex"/>
		<result column="is_show_big_img" property="isShowBigImg"/>
		<result column="create_time" property="createTime"/>
		<result column="create_user" property="createUser"/>
	</resultMap>
	
	<resultMap type="NewsBean" id="newsListMap">
		<id column="new_id" property="newId"/>
		<result column="new_caption" property="newCaption"/>
		<result column="publish_time" property="publishTime"/>
		<result column="new_source" property="newSource"/>
		<result column="new_athors" property="newAthors"/>
		<result column="new_key_word" property="newKeyWord"/>
		<result column="new_editor" property="newEditor"/>
		<result column="new_type" property="newType"/>
		<result column="is_wheel" property="isWheel"/>
		<result column="wheel_img" property="wheelImg"/>
		<result column="new_list_img1" property="newListImg1"/>
		<result column="new_list_img2" property="newListImg2"/>
		<result column="new_list_img3" property="newListImg3"/>
		<result column="new_html_file_name" property="newHtmlFileName"/>
		<result column="is_publish" property="isPublish"/>
		<result column="show_index" property="showIndex"/>
		<result column="is_show_big_img" property="isShowBigImg"/>
		<result column="create_time" property="createTime"/>
		<result column="create_user" property="createUser"/>
	</resultMap>
	

</mapper>