<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	 xmlns:mvc="http://www.springframework.org/schema/mvc"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx" 
     xmlns:p="http://www.springframework.org/schema/p"
     xmlns:jdbc="http://www.springframework.org/schema/jdbc"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/jdbc 
   http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
   http://www.springframework.org/schema/tx
   http://www.springframework.org/schema/tx/spring-tx.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop.xsd">
   
   <!-- <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/> -->
	<context:component-scan base-package="com.galaxy.star.newsbox"></context:component-scan>
	
	<mvc:annotation-driven/>
	<mvc:default-servlet-handler/>
	
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
	    <property name="viewResolvers">
	        <list>
	            <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
	            <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	                <property name="prefix" value="/page/"/>
	                <property name="suffix" value=".jsp"/>
	            </bean>
	        </list>
	    </property>
	    <!-- 当请求的扩展名为json的时候，由视图处理器处理 -->
	    <property name="defaultViews">
	        <list>
	            <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
	        </list>
	    </property>
	</bean>
	
	
	<!-- 支持上传文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />  
	   
	
</beans>
